@keyframes blink {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.99;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(calc(-100% + 3.5rem));
  }
}
