:root {
  /* colors */
  --light: #fdfffc;
  --fade-light: #ddd;
  --visible-light: #cac4c4;
  --visible-dark: #474d50;
  --dark: #011627;
  --fade-dark: #20272d;
  --success: #2ec4b6;
  --danger: #e71d36;
  --warning: #ff9f1c;
}

.flex {
  display: flex;
}

.layoutRow {
  flex-direction: row;
}

.layoutColumn {
  flex-direction: column;
}

.column {
  flex: 1;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.success {
  color: var(--success);
}

.warning {
  color: var(--warning);
}

.danger {
  color: var(--danger);
}

.bgLight {
  background-color: var(--light);
}

.bgDark {
  background-color: var(--dark);
}

.bgSuccess {
  background-color: var(--success);
}

.bgWarning {
  background-color: var(--warning);
}

.bgDanger {
  background-color: var(--danger);
}

.bold {
  font-weight: bold;
}

small,
.small {
  font-size: 0.8rem;
}

.pad16 {
  padding: 16px;
}

.pad32 {
  padding: 32px;
}

.pointer {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  font-weight: bold;
}

p {
  line-height: 2;
}

.hidden,
[hidden] {
  display: none;
}
