@font-face {
  font-family: Lato;
  src: url(/public/fonts/Lato-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--light);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Lato, sans-serif;
  font-size: 16px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  color: var(--dark);
}

body.dark {
  background-color: var(--dark);
  color: var(--light);
}

header {
  border-bottom: 2px solid var(--fade-light);
}

.dark header {
  border-bottom: 2px solid var(--fade-dark);
}

header a {
  margin: 0 4px;
}

header,
footer {
  height: 48px;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
}

.subtitle {
  font-size: 3rem;
  font-weight: bold;
  position: relative;
}

.theme-picker {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: relative;
  top: 2px;
}

.theme-picker:hover {
  transform: scale(1.1);
}

.theme-picker[data-value="light"] {
  background-color: var(--light);
}

.theme-picker[data-value="dark"] {
  background-color: var(--dark);
}

.slider-container {
  overflow-y: hidden;
}

.slider-container .slider {
  animation: slideUp 10s ease-in-out infinite alternate;
  background-image: repeating-linear-gradient(45deg, #2196f3, #00bcd4 100px);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  color: transparent;
}

.tech-slider {
  height: 3rem;
  font-weight: bold;
}

.tech-slider .slider div {
  height: 3rem;
}

.india {
  background: linear-gradient(#ff9800, #f3f3f3, #4caf50);
  color: var(--dark);
  padding: 2px;
}

.home-welcome {
  font-size: 3rem;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
}

#home:focus,
#work:focus {
  outline: none;
}

/* work */
#work .title {
  padding: 32px 32px 0;
}

.timeline-container {
  overflow: hidden;
}

.timeline-container .timeline {
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.timeline .timeline-point {
  flex-shrink: 0;
  width: calc(100% - 32px);
  border: 1px solid var(--fade-light);
  margin: 16px;
  padding: 16px;
  border-radius: 2px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.dark .timeline .timeline-point {
  border: 1px solid var(--fade-dark);
}

.timeline .timeline-point::after {
  content: attr(data-year);
  color: var(--fade-light);
  position: absolute;
  right: -1rem;
  bottom: 0;
  font-size: 12rem;
  opacity: 0.44;
  font-weight: bold;
}

.dark .timeline .timeline-point::after {
  color: var(--fade-dark);
}

.timeline-overview {
  justify-content: space-between;
  border-top: 1px solid;
  padding-top: 6px;
  margin: 0 16px;
  font-size: small;
  color: var(--visible-light);
  position: relative;
}

.timeline-overview__point-indicator {
  background: var(--danger);
  top: -4px;
  position: absolute;
  left: 0;
  font-size: 4rem;
  line-height: 0;
  transition: transform 0.5s ease-in;
  height: 4px;
  width: 16px;
  border-radius: 2px;
}

.dark .timeline-overview {
  color: var(--visible-dark);
}

.timeline-overview__point {
  position: relative;
  text-align: center;
  font-size: 0.75rem;
}

.timeline-overview__point.selected {
  transition: color 1s ease;
  color: var(--fade-dark);
}

.dark .timeline-overview__point.selected {
  color: var(--fade-light);
}

.component {
  display: none;
  height: calc(100% - 96px);
}

/* Element whose id is same as url hash. */
:target {
  display: flex !important;
}
